@model List<Beer>

<h1>Cervezas</h1>

<p>
	<a asp-action="Create">
		Crear
	</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Marca
			</th>
		</tr>

	</thead>

	<tbody>
		@foreach (var beer in Model)
		{
			<tr>
				<td>
					@beer.Name
				</td>
				<td>
					@beer.Brand.Name
				</td>

			</tr>
		}
	</tbody>
</table>