@model List<Beer>

<h1>Cervezas</h1>

<p>
	<a asp-action="Create">
		Crear
	</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Marca
			</th>
		</tr>

	</thead>

	<tbody>
		@foreach (var beer in Model)
		{
			<tr>
				<td>
					@beer.Name
				</td>
				<td>
					@beer.Brand.Name
				</td>
				<td>
					<!-- Botón para eliminar la cerveza -->
					<form asp-action="Delete" asp-route-id="@beer.BeerId" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta cerveza?');">
						<input type="hidden" name="id" value="@beer.BeerId" />

						<button type="submit" class="btn btn-danger">Eliminar</button>

					</form>
				</td>
			</tr>
		}
	</tbody>
</table>