@model List<WebApplication1.Models.Brand>

<h1>Marcas</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Nombre
			</th>
		</tr>
		
	</thead>

	<tbody>
		@foreach(var brand in Model)
		{
			<tr>
				<td>
					@brand.Name
				</td>
		
			</tr>
		}
	</tbody>
</table>